<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>会员中心 - 首页</title>
  <link rel="import" href="../base/basesupport.html" id="importInfo"/>
</head>
<body>


<div class="bar-bottom">
  <a class="bar-item" href="../home.html"><i class="bar-bottom-i home"></i>首页</a>
  <a class="bar-item" href="../class.html"><i class="bar-bottom-i class"></i>分类</a>
  <a class="bar-item" href="../cart.html"><i class="bar-bottom-i cart"></i>购物车</a>
  <a class="bar-item selected" href="main.html"><i class="bar-bottom-i mine"></i>我的</a>
</div>

<script>
  console.log(importInfo.innerHTML);
</script>
</body>
</html>